<html>
	<body>
	<form action="/signup" method="post">
		Email: <input type="text" name="email"><Br>
		Password: <input type="password" name="password"><Br>
		Name: <input type="text" name="name"><Br>
		Surname: <input type="text" name="surname"><Br>
		Age: <input type="number" name="age"><Br>
		City: <input type="text" name="city"><Br>
		Sex: <input type="radio" name="sex" value="male" checked> Male
			 <input type="radio" name="sex" value="female"> Female
			 <Br>
	    Interests: <textarea name="interests" style="width:300px; height:300px;"></textarea>
		<input type="submit" value="Send">
	</form>
	</body>
</html>