<html>
	<body>
	<form action="/user_edit" method="post">
		Name: <input type="text" name="name"><Br>
        Surname: <input type="text" name="surname"><Br>
        Age: <input type="number" name="age"><Br>
        City: <input type="text" name="city"><Br>
        Sex: <select name="sex" size="2" multiple><Br>
             <option value="male">Male</option><Br>
             <option value="female">Female</option><Br>
             </select><Br>
        Interests: <textarea name="interests" style="width:300px; height:300px;"></textarea>
		<input type="submit" value="Send">
	</form>
	</body>
</html>