<html>
	<body>
	<form action="/user_edit" method="post">
		Name: <input type="text" name="name">
        Surname: <input type="text" name="surname">
        City: <input type="text" name="city">
        Age: <input type="number" name="age">
        Sex: <select name="sex" size="2" multiple>
             <option value="male">Male</option>
             <option value="female">Female</option>
             </select>
        Interests: <textarea name="interests" style="width:300px; height:300px;"></textarea>
		<input type="submit" value="Send">
	</form>
	</body>
</html>